/*

  Theming layer

*/

$theming-color-bg-dark: #192E5B;
$theming-color-bg-light: #1D65A6;
$theming-color-bg-lighter: #72A2C0;

$theming-color-highlight: #F2A104;

$theming-color: #00743F;

